body{
    margin: 5%;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 3px rgb(94, 22, 22);

    .logo {
        width: 30%;
        img {
            width: 250px;
            height: 320x;
        }
    }

    .title {
        width: 50%;
        font-family: 'Lobster', cursive;
        font-size: 40px;
    }

    #contenedor {
        width: 20%;
        display: flex;
        align-items: center;
        margin: 3%;
    }

    .home {
        img {
            width: 80px;
            height: 80px;
        }
    }

    .carrito {
        img {
            width: 55px;
            height: 55px;
        }
    }
}

.banner {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;

    img {
        width: 100%;
        border: solid 3px rgb(94, 22, 22);
    }
}

.title-2 {
 
    width: 100%;
    height: 50px;
    background-color: rgb(94, 22, 22);
    text-align: center;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 40px;
}

#gallery{
    background-color:rgb(94, 22, 22) ;
    height: 50px;
    color: white;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 40px;
}

.popular {
    padding-top: 50px;
    border: solid rgb(94, 22, 22);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3,300px);
    row-gap: 50px;
    
    
    img {
        width: 250px;
        height: 300px;
    }
    img:hover {
        width: 250px;
        height: 320px;
       
    }
}
  
#popular {
display: flex;
justify-content:left;
width:10%;
height:25%;
padding: 100px;
position:relative;
float: left;
}
.texto1{
    display:flex;
    position:absolute;
    top:0;
    font-family: 'Lobster', cursive;
    border: solid 3px rgb(94, 22, 22);
    background-color: rgb(94, 22, 22);
    color: white;
    width: 190%;
    height: 100
        }

    
    .otrafoto{
        display: flex;
        float: right;
        margin: auto;

    }


#caracteristicas{
       justify-content: right;
       position: "relative";
       overflow: hidden;
       padding: 10;
       margin-left: 70%;
       margin-top: 20%;
              
    
    
}
.texto2{
    
    border:solid 30px rgb(94, 22, 22);
    
}

.añadir{
    background-color:rgb(94, 22, 22);
    color: white;
    font-family: 'Lobster', cursive;
    text-align: center;
}    
    table{
        width: 100%;
        height: 25;
    }
    .h2{
        background-color: rgb(94, 22, 22);
        color:white;
    }

#category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#category{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    img{
        margin: 1%;
        width: 30%;
        border: solid rgb(94, 22, 22);
    }
} 
    

footer {
    margin: 5px;
    display: flex;
    justify-content: center;
    border: solid 3px rgb(94, 22, 22);

    img {
        width: 250px;
    }
}


   
